body{
    align-items: center;
}

.calculadora{
    margin: auto;
    background-color: beige;
    align-items: center;
}

.entrada{
    width: 30px;
    margin: 2px;
    align-items: center;
}

.operacion{
    margin: 2px;
    width: 50px;
}

.resultado{
    margin:2px;
}
